<!DOCTYPE html>
{% load static%}
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Website</title>
    <link rel="stylesheet" href="{% static 'list.css' %}">
  </head>
  <body>

    <div class="container3">
    <p> Are you sure you wanna delete {{task}} ? &nbsp;&nbsp;&nbsp; <a style="text-decoration: none; color: rgb(228, 132, 228); font-family: Georgia;" href="{% url 'index' %}">Cancel</a></p> 
    
    
    <form method="POST" action="">
        {% csrf_token %}
        <input type="submit" name="Delete">
    </form>
    
    </div>

  </body>
</html>
