<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>TODO</title>
  <link rel="stylesheet" href="{% static 'list.css' %}">
</head>
<body>
  <div class="container1">
    <div class="form-container1">
      <form method="POST" action="/">
        {% csrf_token %}
        {{form.task}}
        <br> <br>
        <input type="submit" value="Create List">
      </form>
    </div>

    {% for Todo in todos %}
    <div class="todo-item">
      <div class="todo-links">
        <a href="{% url 'update' Todo.id %}">Update</a> <br>
        <a href="{% url 'delete' Todo.id %}">Delete</a> <br>
      </div>

      <div class="todo-content">
        {% if Todo.complete %}
          <strike>{{ Todo }}</strike>
        {% else %}
          <span>{{ Todo }}</span>
        {% endif %}
      </div>
    </div>
    {% endfor %}
  </div>
  <script src="index.js"></script>
</body>
</html>
