<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Update</title>
  <link rel="stylesheet" href="{% static 'list.css' %}">
</head>
<body>
  <div class="container2">
    <form method="POST" action="">
      <br>
      {% csrf_token %} 
      {{form}}
      <br> <br>
      <input type="submit" value="Update">
    </form>
  </div>
</body>
</html>
